body {
    box-sizing: border-box;
    background-color: white;
    font-family: 'Helvetica', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 3px solid #292c33;
    border-radius: 8px;
    background-color: #292c33;
    color: white;
    padding: 0 20px;
}

.control-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 3px solid #292c33;
    border-radius: 10px;
}

.control-panel-title{
    font-size: 1rem;
    margin-bottom: 20px;
}

.port-controls {
    width: 300px;
    height: 585px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:#292c33;
    color: white;
    margin: 30px;
    padding: 10px;
    border-radius: 8px;
}

.port-selectors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.port-selectors label {
    margin-left: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 300px;
    /* height: 100px; */
}

select {
    width: 300px;
    height: 30px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    margin: 10px;
    background-color: white;
    color: #292c33;
}


button {
background-color: #008CBA;
border: none;
border-radius: 4px;
color: white;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
justify-content: center;
font-size: 1rem;
margin: 4px 2px;
cursor: pointer;
}

button:hover {
background-color: white;
border: 1px solid #008CBA;
color: #008CBA;
}

.terminal-area {
    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content: space-evenly; */
    padding: 10px;
}

#terminal-label {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 50px;
}

#terminal {
    width: 450px;
    height: 400px;
    border: 0;
    padding: 10px;
    margin: 0;
    background-color: #292c33;
    font-family: 'Fira Code', monospace;
    font-size: 0.8rem;
    color: #49afcd;
    outline: none;
    resize: none;
    overflow: auto;
}

.monitor {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    background-color: #292c33;
    border-radius: 8px;
    color:#008CBA;
}

.send-msg {
    justify-content: space-between;
    margin-left: 20px;
    width: 470px;
    padding: 10px;
    background-color: #292c33;
    border-radius: 8px;
}

input {
    height: 30px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    /* margin: 10px; */
    color: #292c33;
}

input:focus {
    border-color: orange;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 3px solid #292c33;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    width: 900px;
}

#chart1, #chart2, #chart3 {
    margin-bottom: 30px;
}

#chart-title-1, #chart-title-2, #chart-title-3 {
    font-size: 1.2rem;
    display: block;
    /* margin-left: 100px; */
    text-align: center;
}

#chart-title-1 {
    color: rgba(255, 99, 132, 0.9);
}

#chart-title-2 {
    color: rgba(54, 162, 235, 0.9);
}

#chart-title-3 {
    color: rgba(25, 179, 63, 0.9);
}
@media (max-width: 750px) {
    .port-controls {
        width: 200px;
        height: auto;
    }
    select {
        width: 200px;
    }
    .buttons {
        width: 200px;
        font-size: 0.8rem;
    }
    .terminal-area {
        height: 200px;
    }
    .charts {
        width: 500px;
    }
    .terminal-area {
        height: 300px;
    }
    #terminal {
        font-size: 0.7rem;
    }
}